<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Empleados</title>
  </head>
  <body>
    <h1>Empleados</h1>

    <table border="1">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Cargo</th>
        </tr>
      </thead>
      <tbody>
        {% for empleado in empleados %}
          <tr>
            <td>{{ empleado.id }}</td>
            <td>{{ empleado.nombre }}</td>
            <td>{{ empleado.apellido }}</td>
            <td>{{ empleado.cargo }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>